<div class="field text-center ">
  ESTA FACTURA PERTENECE A
</div >
<div  class >
<div class="field text-center ">
  <% @bills.each do |bill| %>
    <h1>
      <%= bill.rfc  %>
    </h1>
  <%end%>
</div >
